.modal__save-button {
    background-color: #000;
    color: #FFF;
    margin: 48px 0 0 0;
    padding: 13px 0 18px 0;
    border: none;
    border-radius: 2px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: opacity 0.3s ease-in-out;
}

.modal__save-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .modal__save-button {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 320px) {
    .modal__save-button {
        font-size: 14px;
        line-height: 17px;
        margin: 46px 0 0 0;
    }
}