.profile__edit-button {
    border: 1px solid #FFF;
    margin: 0 0 0 18px;
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url(../../../images/profile__edit-button-sign.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}