.header__logo {
    max-width: 173px;
    padding: 0 0 41px 0;
}

@media (max-width: 768px) {
    .header__logo {
        max-width: 150px;
        padding: 0 0 37px 0;
    }
}

@media (max-width: 320px) {
    .header__logo {
        max-width: 126px;
        padding: 0 0 32px 0;
    }
}