.places__list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    list-style: none;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .places__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .places__list {
        grid-template-columns: 1fr;
    }
}