.card__delete-button {
    display: none;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19px;
    background-color: rgba(0,0,0,0);
    background-image: url(../../../images/card__delete-button.svg);
    background-position: center;
    border: none;
    padding: 0;
    transition: opacity 0.3s ease-in-out;
}

.card__delete-button:hover {
    cursor: pointer;
    opacity: 0.6;
}