.profile__avatar {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.profile__avatar:hover {
    opacity: 80%;
}

.profile__avatar:hover > .profile__avatar-button {
    opacity: 100;
}