@import url(./__logo/header__logo.css);

.header {
    padding: 45px 0 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 768px) {
    .header {
        padding: 37px 0 0 0;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 28px 0 0 5.9375%;
    }
}